<div class="container mt-5">
    <h3>BEM VINDO</h3>
    <h2>RequestiFun</h2>
</div>

<p class="lead mt-4">
    <a href="/postItem">Add items</a>
</p>

<p class="lead mt-4">
    <a href="/postReq">Make a Requisition</a>
</p>

<p class="lead mt-4">
    <a href="/readItems">Catalog</a>
</p>

<p class="lead mt-4">
    <a href="/readReqs">Requisitions History</a>
</p>